<div class="technology-used">
    <div class="container pt-5">
    <h3 class="tech-header display-4">
            MY WORKS
    </h3>
    <div class="row pt-3">
        <div class="col-sm-12 col-md-3 col-lg-4 pb-3">
            <div class="card w-100">
                <img src="../../../../assets/portfolio-images/IMG_20210215_104743.png" alt="task manager" class="card-img">
                <div class="overlay">
                    <div class="overlay-text">
                        <h4><b>Task Manager</b></h4>
                        <p>
                            Keep track of your activities
                        </p>
                        <a href="https://ng-task-managers.netlify.app" target="_blank">Visit Website</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-3 col-lg-4 pb-3 ">
                <div class="card w-100">
                    <img src="../../../../assets/portfolio-images/IMG_20210215_104834.png" alt="twitter clone app" class="card-img">
                    <div class="overlay">
                        <div class="overlay-text">
                            <h4><b>Twitter Clone</b></h4>
                            <p>
                                Get a feel of twitter
                            </p>
                            <a href="https://ng-twitter.netlify.app" target="_blank">Visit Website</a>
                        </div>
                    </div>
                </div>
        </div>

        <div class="col-sm-12 col-md-3 col-lg-4 pb-3">
                <div class="card w-100">
                    <img src="../../../../assets/portfolio-images/IMG_20210215_104910.png" alt="loan request" class="card-img">
                    <div class="overlay">
                        <div class="overlay-text">
                            <h4><b>Loan Request</b></h4>
                            <p>
                                Let help get you that accommodation
                            </p>
                            <a href="https://ng-loan-app.netlify.app" target="_blank">Visit Website</a>
                        </div>
                    </div>
                </div>
        </div>

        <div class="col-sm-12 col-md-3 col-lg-4 pb-3">
            <div class="card w-100">
                <img src="../../../../assets/portfolio-images/portfolio.png" alt="portfolio" class="card-img">
                <div class="overlay">
                    <div class="overlay-text">
                        <h4><b>My Portfolio</b></h4>
                        <p>
                            Explore my recent works and technologies
                        </p>
                        <a href="https://valentinebassey-portfolio.netlify.app" target="_blank">Visit Website</a>
                    </div>
                </div>
            </div>
    </div>

    </div>
</div>
</div>

<!--this is for the wave curve before the Technology and framework header-->

<div style="height: 150px; overflow: hidden; border: black;">
    <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%; border: black;  bottom: -5px;">
      <path d="M0.00,92.27 C216.83,192.92 304.30,8.39 500.00,109.03 L500.00,0.00 L0.00,0.00 Z" style="stroke: none;fill:  #f7f7f7;"></path>
    </svg>
  </div>


  




