<div class="contact-section-wrapper">
  <div style="height: 150px; overflow: hidden; border: black;">
    <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%; border: black;  bottom: -5px;">
      <path d="M0.00,92.27 C216.83,192.92 304.30,8.39 500.00,109.03 L500.00,0.00 L0.00,0.00 Z" style="stroke: none;fill:  #faeee7bd;"></path>
    </svg>
  </div>
  <h1 class="header">Get In Touch</h1>
  <p class="get-in-touch" style="font-weight: 700;">Do you have an offer for me or want us to work together?</p>
  <div class="contact-info">
    <div style="width: 100%; height: 100%;">
      <i class="fa fa-phone" aria-hidden="true"></i>
      <a href="tel://+2348100114014">Call</a>
      <a class="send-message" href="mailto:Awasevalentine@gmail.com">Send Message</a>
    </div>
    <div class="social-media-wrapper">
      <p >You can also connect with me on </p>
        <div class="social-media">

      <span>
        <a href="https://web.facebook.com/valentine.bassey.12" target="_blank">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
      </span>
      <span>
        <a href="https://twitter.com/barron_x_marron" target="_blank">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
      </span>
      <span>
        <a href="https://www.linkedin.com/in/valentine-bassey-88426815a/" target="_blank">
          <i class="fa fa-linkedin" aria-hidden="true"></i>
        </a>
      </span>
      <span>
        <a href="https://github.com/awasevalentine" target="_blank">
          <i class="fa fa-github" aria-hidden="true"></i>
        </a>
      </span>
        </div>
    </div>
  </div>
</div>
