<div class="default-layer-main">
<div class="sticky-top header-section">
    <app-header></app-header>
</div>
<div class="default-second-layer-div-wrapper">
  <div class="default-second-layer-content">
        <h1 class="default-second-layer-header-main">Hello! I'm Valentine Bassey.</h1>
        <h2 class="default-second-layer-header-sub">I am a full-stack web developer.</h2>
        <p class="default-second-layer-paragraph">
          Specializing in building RESTfull API's and designing appealing user interface(UI) that meets and solves enterprise needs
        </p>
      <a class="default-second-layer-btn"[routerLink]="[ '/' ]" fragment="portfolio-section" >view my work</a>
  </div>
</div>
<div class="about-section">
  <app-about id="about-section"></app-about>
</div>
<div class="career-section">
  <app-career id="career-section"></app-career>
</div>
<div class="portfolio-section">
  <app-portfolio id="portfolio-section"></app-portfolio>
</div>
<div class="contact-section">
  <app-contact-me id="contact-section"></app-contact-me>
</div>
<div class="footer-section">
  <app-footer></app-footer>
</div>
</div>
