<!-- this is for translate>
<div id="div_notranslate"> original</div>
<div id="div_translate">After Translate method</div>


<this is for rotation>

<div id="div_norotate"> original</div>
 <div id="div_rotate">After rotate method</div>

 <this is for animation>

 <div style="padding-top:20px; padding-bottom: 30px;">
 <div id="animated_div">
     CSS3
     <span style="font-size:10px;">Tutorial</span>
    
    </div>
</div>

<this is for overlay>

  <div id="overlay" (click)="off()">
        <div id="text"> Overlay Text </div>
        </div>
        
        
        <div style="padding:20px;" onmouseover = "on()">
        <h2> Overlay with text </h2>
        <button (click) ="on()"> Turn on overlay effect </button>
        </div>

</div>


<this is for rotation and transitionning>


<p>Hover on object to see it in action</p>
 <div id="example">
 <div id="ease" class="childbox"><p>CSS3</p></div>
 <div id="ease_in" class="childbox"><p>CSS3</p></div>
 <div id="ease_out" class="childbox"><p>CSS3</p></div>
 <div id="ease_in_out" class="childbox"><p>CSS3</p></div>
 <div id="linear" class="childbox"><p>CSS3</p></div>
 <div id="custom" class="childbox"><p>CSS3</p></div>
 <div id="negative" class="childbox"><p>CSS3</p></div>
</div-->
<div>
<div class="pt-5 first-content-wrapper">
   
    <div class="container">
    <div class="row">
        <div class="col-md-5 col-sm-12">
            <img src="../../../../assets/images/payqart.jpg" srcset="../../../../assets/images/payqart.jpg" 
            class="img-fluid rounded img-thumbnail mx-auto d-block" alt="Responsive image" width="50%">
        </div>
        <div class="col-md-7 col-sm-12 mt-6">
            <div class="header-wrapper">
                <h2>About Me</h2>
                <h4>
                    <p>Fullstack Developer</p>
                </h4>
            </div>
            <div class="content-1">
                <p class="paragraph-1">
                    Hi! I am Valentine, an enthusiastic junior fullstack developer with core competency
                    in mobile and web development using, JavaScript and TypeScript in crafting
                    sophisticated and appealing user interface (UX/UI), and RESTful API's that 
                    automates and solves enterprise problems or needs.
                </p>
            </div>
        </div>
    </div>

</div>

</div>

<!--this is for the wave curve before the Technology and framework header-->

<div style="height: 150px; overflow: hidden; border: black;">
    <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%; border: black;  bottom: -5px;">
      <path d="M0.00,92.27 C216.83,192.92 304.30,8.39 500.00,109.03 L500.00,0.00 L0.00,0.00 Z" style="stroke: none;fill:  rgb(15, 15, 15);"></path>
    </svg>
  </div>
  
    <div class="technology-used container">
        <h2 class="tech-header">
            <span class="color-primary">TECHNOLOGY</span> & FRAMEWORK USED
        </h2>
        <div class="row pt-3">
            <div class="col-sm-12 col-md-3 col-lg-4 pb-3">
                <div class="card w-100">
                    <div class="card-body">
                        <div class="card-title pb-3">
                            <h3 style="text-align: center;"><b>Front-end Tech</b></h3>
                        </div>
                        <div class="card-text">
                            <p>
                                Over 2years experience in building front-end application 
                                with an appealing UI that solves enterprise needs.
                            </p>

                            <h5 style="color: blueviolet; text-align: center;">Languages I speak:</h5>
                            <p style="text-align: center;">
                                JavaScript
                                <br>
                                TypeScript
                                <br>
                                HTML/CSS
                            </p>

                            <h5 style="color: blueviolet; text-align: center;">
                                FrameWork:
                            </h5>
                            <p style="text-align: center;">Angular</p>

                            <h5 style="color: blueviolet; text-align: center;">
                                Dev Tools:
                            </h5>
                            <p style="text-align: center;">
                                Visual Studio Code
                                <br>
                                    Bootstrap
                                <br>
                                    Angular Material
                                <br>
                                    Github
                                <br>
                                    Terminal
                            </p>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-3 col-lg-4 pb-3 ">
                <div class="card w-100">
                    <div class="card-body">
                        <div class="card-title pb-3">
                            <h3 style="text-align: center;"><b>Back-end Tech</b></h3>
                        </div>
                        <div class="card-text">
                            <p>
                                Over 2year experience in writing backend RESTful API's that 
                                are adherent to good engineering practices in building real world
                                 enterprise solutions.
                            </p>

                            <h5 style="color: blueviolet; text-align: center;">Languages I speak:</h5>
                            <p style="text-align: center;">
                                JavaScript
                                <br>
                                TypeScript
                            </p>

                            <h5 style="color: blueviolet; text-align: center;">
                                Platform:
                            </h5>
                            <p style="text-align: center;">NodeJs</p>

                            <h5 style="color: blueviolet; text-align: center;">
                                FrameWorks:
                            </h5>
                            <p style="text-align: center;">
                                Nest Js
                                <br>
                                Express
                            </p>

                            <h5 style="color: blueviolet; text-align: center;">
                                Dev Tools:
                            </h5>
                            <p style="text-align: center;">
                                Visual Studio Code
                                <br>
                                    Github
                                <br>
                                    Terminal
                                <br>
                                    PostMan
                            </p>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-3 col-lg-4 pb-3">
                <div class="card w-100">
                    <div class="card-body">
                        <div class="card-title pb-3">
                            <h3 style="text-align: center;"><b>DataBase & Cloud</b></h3>
                        </div>
                        <div class="card-text">
                            <p>
                                Over 2year experience in managing SQL and Non-SQL serve-side storage,
                                 using MYSQL/Postgre and MongoDB
                            </p>

                            <h5 style="color: blueviolet; text-align: center;">DataBases Used:</h5>
                            <p style="text-align: center;">
                                MYSQL
                                <br>
                                MongoDb
                            </p>

                            <h5 style="color: blueviolet; text-align: center;">
                                Cloud Hosting Servers Used:
                            </h5>
                            <p style="text-align: center;">
                                Heroku
                                <br>
                                Netlify
                                <br>
                                NameCheap
                            </p>

                            <h5 style="color: blueviolet; text-align: center;">
                                Dev Tools:
                            </h5>
                            <p style="text-align: center;">
                                MYSQL Workbench
                                <br>
                                    PHP MyAdmin
                                <br>
                                    Mongo Compass
                                <br>
                                    Terminal
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        

        </div>
    </div>
</div>
