.portfolio-hr {
  position: absolute;
  margin-top: -5px;
  font-weight: 700;
  height: 3px;
  width: 100%;
  background: black !important;
  border: 2px solid black;
  opacity: 1;
}

.header {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  color: #D96098;
  margin-top: 10rem;
}

.portfolio-task-manager-wrapper{
  margin-top: -6rem !important;
}



/*Global Section.*/

//Section for all h2 headers
        .react-auth-header, .loan-request-header,.todo-header, .twitter-header {
          font-size: 2rem;
          font-weight: 700;
        }

//Section for Links
          .react-auth-link-section,
          .todo-link-section,
          .twitter-link-section
          {
            float: right;
            width: 70%;
          }
          .react-auth-link-section a,
          .loan-request-link-section a,
          .todo-link-section a,
          .twitter-link-section a
          {
            color: #DD4A48;
          }

          .react-auth-link-section a:last-child,
          .loan-request-link-section a:last-child,
          .todo-link-section a:last-child,
          .twitter-link-section a:last-child
          {
            margin-left: 1.8rem;
            font-weight: 600;
            text-decoration: none;
            border: 1.3px solid #000;
            border-radius: 50px;
            padding: 7px;
          }

          .react-auth-link-section a:last-child:hover,
          .loan-request-link-section a:last-child:hover,
          .todo-link-section a:last-child:hover,
          .twitter-link-section a:last-child:hover
          {
            margin-left: 1.8rem;
            font-weight: 600;
            text-decoration: none;
            border: 1.3px solid #000;
            border-radius: 50px;
            padding: 7px;
            box-shadow: 0 0 5px 5px #D96098;
            transition: box-shadow .6s ease-in-out;
          }
          .fa-github {
            font-size: 1.5rem;
          }

          .view-more-btn:hover{
            box-shadow: 0 0 5px 5px #D96098;
          }

          .fa-github:hover{
            box-shadow: 0 0 5px 5px #D96098;
            border-radius: 50px;
            background-color: #000;
            transition: box-shadow,background-color .6s ease-in-out ;
          }



//Section for setting image heights and margins
        .react-auth-image, .loan-request-image, .todo-image, .twitter-image,
        .react-auth-details, .loan-request-details, .todo-details, .twitter-details
        {
          margin: 10rem 0px 0px 4rem ;
          height: 300px;
        }

//Section for description
        .react-auth-description,
        .loan-request-description,
        .todo-description,
        .todo-description,
        .twitter-description
        {
          width: 70%;
          line-height: 2;
        }


//Section for Technologies Used
        .tech-used ul > li {
          display: inline-block;
          list-style: none;
          margin: 2rem .5rem .5rem .5rem;
          font-size: .8rem;
        }

        .tech-used ul > li:first-child {
          margin-left: -2rem;
        }
//End of sections for links
/*End of global sections*/


/*Section for react Authentication app */
.react-auth-wrapper{
  display: inline-flex;
  margin-top: 1rem!important;
}
.react-auth-image {
  background-image: linear-gradient(to right, rgba(50, 82, 136, 0.3),
                   rgba(0, 0, 0, 0)),
                   url("../../../assets/Images/portfolio-images/react-auth.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  // border: 2px solid red;
box-shadow: 0 0 5px 5px #D96098;

}

/* End of React Auth Section*/




/*Loan Request Section*/
.loan-request-wrapper {
  display: inline-flex;
}
.loan-request-image {
  background-image: linear-gradient(to right, rgba(50, 82, 136, 0.3),
  rgba(0, 0, 0, 0.8)),
  url("../../../assets/Images/portfolio-images/loan-request.png");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
border-radius: 6px;
box-shadow: 0 0 5px 5px #D96098;

}
/*End of Loan request section*/




/*Task Manager Section**/
.todo-wrapper{
  display: inline-flex;
}
.todo-image {
  background-image: linear-gradient(to right, rgba(50, 82, 136, 0.3),
  rgba(0, 0, 0, 0)),
  url("../../../assets/Images/portfolio-images/task-manager.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6px;
  border: 2px solid red;
  box-shadow: 0 0 5px 5px #D96098;

}
/*End of todo section */





/* Twitter Section */
.twitter-section-wrapper{
  display: inline-flex;
}
.twitter-image {
  background-image: linear-gradient(to right, rgba(50, 82, 136, 0.3),
  rgba(0, 0, 0, 0.8)),
  url("../../../assets/Images/portfolio-images/twitter.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6px;
  box-shadow: 0 0 5px 5px #D96098;

}

/*End of Twitter Section*/


.view-more-portfolio {
  height: 100%;
  transition: height 10s ease-out;
}


.view-more{
  margin-top: 9rem;
  transition: height 10s ease-out;

}

.view-more p {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;

  animation: blinker 1s linear infinite;

}
.btn {
  margin: 6rem 4rem 10px 50%;
}

.view-more-btn {
  padding: 7px;
  text-align: center;
  border: 1px solid black;
  border-radius: 50px;
  text-decoration: none;
  color: #DD4A48;
}


//For hiding the mobile section div when the viewport is more than small
.portfolio-mobile-wrapper {
  display: none;
}




// Temporal for making the view more section blink

@keyframes blinker {
  50% {
    opacity: 0;
  }
}




//over for the card images





//Media query section

@media screen and (max-width: "659px") {
.header {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    color: #D96098;
    margin-top: 6.5rem;
  }

.portfolio-sub-wrapper {
  display: none;
}
//For hiding the mobile section div when the viewport is more than small
.portfolio-mobile-wrapper {
  display: block;
  margin-top: 3rem ;
}

.card {
  height: 250px !important;
  background-color: #24A19c;
  color: #FAEEE7;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  // text-align: center;
  opacity: 0.7;
  transition: .42s ease-in-out;
  -webkit-transition: .42s ease-in-out;
  -moz-transition: .42s ease-in-out;
  -o-transition: .42s ease-in-out;
  background-color: #141c3a;
  border-radius: 10px;
}

.overlay-text {
  width: 80%;
  color: white;
  font-size: 15px;
  position: absolute;
  text-align: center;
  margin: 2rem 0px 0px 2rem;
}

.overlay-text h2 {
  color: #DD4A48;
  font-size: 20px;
  font-weight: 700;
}

.overlay-text a {
  text-decoration: none;
  color: #DD4A48;
  font-weight: 700;
  border: 1px solid white;
  border-radius: 50px;
  padding: 7px;
}
}
