
<div class="main-content-wrapper">
        <!--this is for the wave curve before the Technology and framework header-->

        <div style="height: 150px; overflow: hidden;">
            <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;  bottom: -5px;">
              <path d="M0.00,92.27 C216.83,192.92 304.30,8.39 500.00,109.03 L500.00,0.00 L0.00,0.00 Z" style="stroke: none; fill: white;"></path>
            </svg>
          </div>
    
    <div class="container">
        <div class="social-media-wrapper">
            <div class="facebook mr-4">
               <a href="https://web.facebook.com/valentine.bassey.12" target="_blank">
                  <i class="fa fa-facebook"></i> 
                </a>
            </div>
            <div class="twitter mr-4">
               <a href="https://twitter.com/barron_x_marron" target="_blank">
                 <i class="fa fa-twitter" aria-hidden="true"></i>
               </a>
            </div>
            <div class="linkedin mr-4">
                <a href="https://www.linkedin.com/in/valentine-bassey-88426815a/" target="_blank">
                     <i class="fa fa-linkedin"></i>
                </a>
            </div>
            <div class="instagram mr-4">
                <a href="https://www.instagram.com/valentine_bassey/" target="_blank">
                     <i class="fa fa-instagram"></i>
                </a>
            </div>
            <div class="github">
                <a href="https://github.com/awasevalentine" target="_blank">
                    <i class="fa fa-github"></i>
                </a>
            </div>
        </div>

        <div class="copyright-wrapper mt-4" style="text-align: center;">
            <span >Copyright &copy; 2021  Valentine Bassey</span>
        </div>
    </div>
</div>